<%= form_for(@album_listing, :html => { :class => "form-horizontal", :role => "form" }) do |f| %>
  <% if @album_listing.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@album_listing.errors.count, "error") %> prohibited this album_listing from being saved:</h4>

      <ul>
      <% @album_listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :title, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :artist, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :artist, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :release_year, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :release_year, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :price, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :price, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :medium, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :medium, options_for_select(['Album', 'CD']), :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :condition, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :condition, options_for_select(['Mint', 'Good', 'Fair', 'Damaged']), :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :picture, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.file_field :picture, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
