<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Artist</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Condition</th>
      <th>Type</th>
      <th>Year</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <%= content_tag_for(:tr, @album_listings) do |album_listing| %>
      <td width="200px"><%= image_tag album_listing.picture.url(:medium), width: '200', height: '200' %></td>
      <td><%= album_listing.price %></td>
      <td><%= album_listing.quantity %></td>
      <td><%= album_listing.condition %></td>
      <td><%= link_to 'Show', album_listing %></td>
      <td><%= link_to 'Edit', edit_album_listing_path(album_listing) %></td>
      <td><%= link_to 'Destroy', album_listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    </tbody>
  </table>
</div>
