<div class="page-header">
  <%= link_to album_listings_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_album_listing_path(@album_listing), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show album_listing</h1>
</div>

<dl style="background-color: rgba(255,223,172,0.85)" class="dl-horizontal">
  <dd style="padding-bottom: 30px;"><%= image_tag @album_listing.picture.url, width: '300', height: '300' %></dd>
  <dd/>
  <dt>Title:</dt>
  <dd><%= @album_listing.title %></dd>
  <dt>Artist:</dt>
  <dd><%= @album_listing.artist %></dd>
  <dt>Price:</dt>
  <dd><%= @album_listing.price %></dd>
  <dt>Condition:</dt>
  <dd><%= @album_listing.condition %></dd>
  <dt>Medium:</dt>
  <dd><%= @album_listing.medium %></dd>
  <dt>Release Year:</dt>
  <dd><%= @album_listing.release_year %></dd>
  <dt>Seller:</dt>
  <dd><%= "#{@album_listing.seller.first_name} #{@album_listing.seller.last_name}" %></dd>

</dl>
